body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('alarm-clock.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: contain;
  }
  
  .container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Adding a semi-transparent white background to the container */
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  #timer {
    font-size: 48px;
    margin: 20px 0;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
  }
  